<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HTML</h1>
    <p>
      url
      <%= user_edit_password_url @user.password_reset_token %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>if you did nor request you passord to be reset, just ignore this email and your password will continue to stay the same</p>
  </body>
</html>
