<h1>This time you have to remember it</h1>

<%= form_tag action: :reset_one_user_by_email, method: :post, class: "form-inline" do %>

    <div class="form-group col-sm-7">
      <%= label_tag :epost, nil, class: "control-label sr-only" %>
      <%= text_field_tag :epost, params[:epost], class: "form-control", placeholder: "Epost" %>
    </div>
    <div class="col-sm-3">
      <%= button_tag "Reset password", class: "btn btn-default" %>
    </div>

  </div>

<% end %>
